/* GLOBAL */
*{
  box-sizing: border-box;
}

html, body{
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
}

.clear{
  clear: both;
}
/* HEADER */
.header__logoItem{
  float: left;
}
.header__sloganItem{
  float: right;
  margin-right: 120px;
}
.header_navbar ul{
  list-style: none;
  color: black;
}
