/* GLOBAL */
*{
  box-sizing: border-box;
}

html, body{
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
}
.clear{
  clear: both;
}
h2{
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 50px;
  margin-bottom: 16px;
}
.line{
  background-image: url("../img/line.png");
  height: 25px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 25px;
}
/* HEADER */
.header__logoItem{
  float: left;
}
.header__sloganItem{
  float: right;
  margin-right: 120px;
}
.header_navbar ul{
  list-style: none;
  margin: 5px;
  border-top: 1px solid #E8E8E8;
  border-bottom: 1px solid #E8E8E8;
  text-align: center;
  padding: 15px 0;
}
.header_navbar ul li{
  display: inline;
}
.active{
  border-bottom: 2px solid #B31C25;
}
.header_navbar ul li:hover{
  border-bottom: 2px solid #B31C25;
}
.header_navbar ul a{
  text-decoration: none;
  color:  #636363;
  text-transform: uppercase;
  font-weight: bold ;
  font-size: 1.13vw;
  padding: 0 0.13vw;
}
/* CAROUSEL */
.carousel{
  background-image: url("../img/slider_1.png");
  height: 55%;
  background-size: cover;
  background-position: center;
  margin-top: 20px;
}
/* INTRO */
.intro p{
  text-align: center;
  font-size: 16px;
  color: #636363;
  line-height: 25px;
}
/* PROGRAMS */
.programs__item{
  float: left;
  width: 25%;
  padding: 0 10px;
}
.programs__item img{
  width: 100%;
}
.programs__item h3{
  font-size: 16px;
  text-transform: uppercase;
  color: #B31C25;
  margin: 10px 0 5px 0;
}
.programs__item p{
  text-transform: capitalize;
  color: #636363;
  font-size: 14px;
  margin: 0;
}
/* NEWS */
.news__left, .news__right{
  float: left;
  width: 50%;
}
.news__text{
  position: relative;
}
.news__text img{
  width: 100%;
  display: block;
}
.news__text p{
  position: absolute;
}
/* FOOTER */
.footer{
  background-color: #B31C25;
}
